<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.studyssm.mapper.UserMapper" >
    <resultMap id="BaseResultMap" type="com.studyssm.entity.User" >
        <result property="id" column="id"/>
        <result property="userName" column="userName"/>
        <result property="password" column="password"/>
        <result property="roleId" column="roleId"/>
    </resultMap>
    <sql id="Base_Column_List" >
        id, username, password,roleId
    </sql>

    <select id="findUserByUsername" parameterType="String" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from t_user where userName=#{userName}
    </select>

    <select id="findRoles" parameterType="String" resultType="String">
        select r.roleName from t_user u,t_role r where u.roleId=r.id and u.userName=#{userName}
    </select>

    <select id="findPermissions" parameterType="String" resultType="String">
        select p.permissionName from t_user u,t_role r,t_permission p
        where u.roleId=r.id and p.roleId=r.id and u.userName=#{userName}
    </select>

    <!--<insert id="add" parameterType="com.studyssm.entity.User" >-->
        <!--insert into t_user ( id, username, password, roleid ) values ( #{id},#{username},#{password},#{roleid})-->
    <!--</insert>-->

    <!--<delete id="delete" parameterType="BaseResultMap" >-->
        <!--delete from t_user where id= #{id}-->
    <!--</delete>-->

    <!--<select id="get" parameterType="_int" resultType="BaseResultMap">-->
        <!--select * from   t_user  where id= #{id}-->
    <!--</select>-->

    <!--<update id="update" parameterType="BaseResultMap" >-->
        <!--update t_user set username=#{username} where id=#{id}-->
    <!--</update>-->

    <select id="list" resultMap="BaseResultMap">
        select * from   t_user
    </select>

</mapper>